.twitter-typeahead {
	width: 100%
}
.input-group .twitter-typeahead {
	width: 100% !important
}

.input-group .twitter-typeahead .form-control {
	height: 28px;
	width: 100% !important;
	border-radius: 5px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0
}

 .input-group .twitter-typeahead .tt-hint {
	color: #ccc !important
}
.twitter-typeahead .tt-input, .twitter-typeahead .tt-hint{
	height : 28px;
}

.maple-searchbar .tt-dropdown-menu {
	height: auto !important;
	max-height: 120px;
	padding: 0;
	margin: 0;
	border: 0 !important;
	position: absolute;
	left: 0;
	top: 38px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #FFFFFF !important;
	width: 100%;
	-webkit-box-shadow: 0 2px 8px -3px rgba(0, 0, 0, .9);
	box-shadow: 0 2px 8px -3px rgba(0, 0, 0, .9)
}

.maple-searchbar .tt-dropdown-menu .tt-suggestions {
	width: 100%
}

.maple-searchbar .tt-dropdown-menu .tt-suggestions .tt-suggestion p {
	display: block;
	margin: 0;
	padding: 3px 15px;
	clear: both;
	font-weight: 400;
	line-height: 18px;
	color: #555;
	white-space: nowrap
}

.maple-searchbar .tt-dropdown-menu .tt-suggestions .tt-suggestion:hover,.maple-searchbar .tt-dropdown-menu .tt-suggestions .tt-suggestion.tt-cursor
	{
	text-decoration: none;
	background-color: #08c;
	background-image: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0
}

.maple-searchbar .tt-dropdown-menu .tt-suggestions .tt-suggestion:hover p,.maple-searchbar .tt-dropdown-menu .tt-suggestions .tt-suggestion.tt-cursor p
	{
	color: #fff
}
